.charge-header {
  background: #fff;
  padding: 0.625rem; }
  .charge-header .charge-count {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row; }
    .charge-header .charge-count .count-num {
      flex: 1; }
      .charge-header .charge-count .count-num .base {
        font-size: 1rem; }
        .charge-header .charge-count .count-num .base span {
          margin-right: 0.625rem; }
      .charge-header .charge-count .count-num .num-count {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 0.875rem;
        padding: 0.1875rem 0;
        color: #333;
        border-radius: 0.3125rem;
        position: relative; }
        .charge-header .charge-count .count-num .num-count .num-detail {
          width: 50%;
          text-align: center; }
          .charge-header .charge-count .count-num .num-count .num-detail span {
            display: block; }
            .charge-header .charge-count .count-num .num-count .num-detail span:first-child {
              font-weight: bold;
              font-size: 1.125rem;
              margin-bottom: 0.1875rem; }
    .charge-header .charge-count .balance {
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 50%;
      margin-left: 0.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.08);
      background-color: #3d4ce2;
      background: rgba(61, 76, 226, 0.7);
      color: #fff; }
      .charge-header .charge-count .balance span {
        text-align: center;
        display: block; }
        .charge-header .charge-count .balance span:first-child {
          font-weight: bold;
          font-size: 1.25rem; }
  .charge-header .charge-btn {
    text-align: center;
    padding-top: 1.25rem; }
    .charge-header .charge-btn .van-button {
      width: 48%; }

.expense-record {
  background: #fff;
  padding: 0.625rem; }
  .expense-record .van-tabs__nav--card {
    border-color: #3d4ce2; }
  .expense-record .van-tabs__nav--card .van-tab {
    color: #3d4ce2;
    border-color: #3d4ce2; }
  .expense-record .van-tabs__nav--card .van-tab.van-tab--active {
    background-color: #3d4ce2;
    color: #fff; }

.expense-list {
  padding: 0.625rem 0 0 0; }
  .expense-list .van-cell {
    padding: 0; }
    .expense-list .van-cell::after {
      display: none; }
  .expense-list .expense-tit,
  .expense-list .expense-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .expense-list .expense-tit .expense-col,
    .expense-list .expense-item .expense-col {
      text-align: center;
      height: 2.1875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 0.8125rem; }
      .expense-list .expense-tit .expense-col.red,
      .expense-list .expense-item .expense-col.red {
        color: #f00; }
      .expense-list .expense-tit .expense-col.blue,
      .expense-list .expense-item .expense-col.blue {
        color: #07c160; }
      .expense-list .expense-tit .expense-col:nth-child(1),
      .expense-list .expense-item .expense-col:nth-child(1) {
        width: 25%; }
      .expense-list .expense-tit .expense-col:nth-child(2),
      .expense-list .expense-item .expense-col:nth-child(2) {
        width: 50%; }
      .expense-list .expense-tit .expense-col:nth-child(3),
      .expense-list .expense-item .expense-col:nth-child(3) {
        width: 10%; }
      .expense-list .expense-tit .expense-col:nth-child(4),
      .expense-list .expense-item .expense-col:nth-child(4) {
        width: 15%; }

.pay-box .pay-range {
  background-color: #fff;
  padding: 0.625rem; }
  .pay-box .pay-range .pay-tit {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.625rem; }
  .pay-box .pay-range .pay-range-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center; }
    .pay-box .pay-range .pay-range-row .range-col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 0.0625rem solid #7d7d7d;
      border-radius: 0.3125rem;
      width: 30%;
      height: 3.75rem;
      margin-bottom: 0.3125rem; }
      .pay-box .pay-range .pay-range-row .range-col .rela {
        font-size: 1.0625rem;
        color: #363636;
        font-weight: bold; }
      .pay-box .pay-range .pay-range-row .range-col .give {
        color: #646363; }
  .pay-box .pay-range .pay-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.625rem; }
    .pay-box .pay-range .pay-input .camera {
      text-align: center;
      margin-right: 0.625rem; }
      .pay-box .pay-range .pay-input .camera span {
        display: block; }
    .pay-box .pay-range .pay-input .inp-box {
      flex: 1;
      position: relative;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      padding: 0.625rem 1rem;
      overflow: hidden;
      color: #323233;
      font-size: 0.875rem;
      line-height: 1.5rem;
      padding-left: 0.5rem;
      background-color: #f7f8fa;
      border-radius: 0.125rem; }
      .pay-box .pay-range .pay-input .inp-box .inp {
        display: block;
        box-sizing: border-box;
        width: 100%;
        min-width: 0;
        margin: 0;
        padding: 0;
        color: #323233;
        line-height: inherit;
        text-align: left;
        background-color: transparent;
        border: 0;
        resize: none; }
    .pay-box .pay-range .pay-input .charge {
      position: relative;
      box-sizing: border-box;
      height: 2.75rem;
      width: 5.625rem;
      margin: 0;
      padding: 0;
      font-size: 0.875rem;
      line-height: 2.75rem;
      text-align: center;
      border-radius: 0.125rem;
      cursor: pointer;
      color: #fff;
      background-color: #07c160; }

.picker-market {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 30;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%); }
  .picker-market.active {
    transform: translateY(0); }
