<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1, user-scalable=no, width=device-width, height=device-height,user-scalable=no, viewport-fit=cover"
    />
    <meta name="x5-orientation" content="portrait" />
    <title>我的预交金</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/vant.css" />
    <link rel="stylesheet" href="./css/my-charge.css" />
    <script src="./script/lib/vue.min.js"></script>
    <script src="./script/lib/vant.min.js"></script>
    <script src="./script/lib/rem.js"></script>
  </head>
  <body>
    <div class="app-layout" id="myCharge">
      <!-- 顶部导航栏 -->
      <van-nav-bar
        title="我的预交金"
        left-arrow
        @click-left="onClickLeft"
      ></van-nav-bar>
      <div class="app-content gray-bg has-footer">
        <div class="charge-page">
          <div class="charge-header mg10 border-radius10">
            <div class="charge-count">
              <div class="count-num">
                <div class="base">
                  <span>钟龙飞</span><span>XYX374834783</span>
                </div>
                <div class="num-count">
                  <div class="num-detail">
                    <span>1500</span>
                    <span>实充余额</span>
                  </div>
                  <div class="num-detail">
                    <span>2800</span>
                    <span>充送余额</span>
                  </div>
                </div>
              </div>
              <div class="balance">
                <span>4300</span>
                <span>金额(元)</span>
              </div>
            </div>
            <div class="charge-btn">
              <van-button size="small" type="primary" url='./my-charge-pay.html'>充值</van-button>
              <van-button size="small" type="info">支付</van-button>
            </div>
          </div>
          <div class="expense-record mg10 border-radius10">
            <van-tabs type="card" @change="tabChange">
              <van-tab title="充值记录">
                <div class="expense-list">
                  <div class="expense-tit">
                    <div class="expense-col">日期</div>
                    <div class="expense-col">门店</div>
                    <div class="expense-col">类型</div>
                    <div class="expense-col">金额</div>
                  </div>
                  <van-list
                    v-model="loading"
                    :finished="finished"
                    finished-text="没有更多了"
                    @load="onLoad"
                  >
                    <van-cell v-for="item in list" :key="item">
                      <div class="expense-item">
                        <div class="expense-col">2020-03-05</div>
                        <div class="expense-col">双流华美口腔医院</div>
                        <div class="expense-col">支付</div>
                        <div class="expense-col red">-100</div>
                      </div>
                    </van-cell>
                  </van-list>
                </div>
              </van-tab>
              <van-tab title="消费记录">
                <div class="expense-list">
                  <div class="expense-tit">
                    <div class="expense-col">日期</div>
                    <div class="expense-col">门店</div>
                    <div class="expense-col">类型</div>
                    <div class="expense-col">金额</div>
                  </div>
                  <van-list
                    v-model="loading"
                    :finished="finished"
                    finished-text="没有更多了"
                    @load="onLoad"
                  >
                    <van-cell v-for="item in list" :key="item">
                      <div class="expense-item">
                        <div class="expense-col">2020-03-05</div>
                        <div class="expense-col">双流华美口腔医院</div>
                        <div class="expense-col">支付</div>
                        <div class="expense-col blue">-100</div>
                      </div>
                    </van-cell>
                  </van-list>
                </div>
              </van-tab>
            </van-tabs>
          </div>
        </div>
        <!-- 全局底部导航 -->
        <van-tabbar v-model="active" active-color="#3d4ce2">
          <van-tabbar-item icon="wap-home" name="home"
            >就诊服务</van-tabbar-item
          >
          <van-tabbar-item icon="service" name="online"
            >在线问诊</van-tabbar-item
          >
          <van-tabbar-item icon="cart" name="hop">优选商城</van-tabbar-item>
          <van-tabbar-item icon="manager" name="usercenter"
            >个人中心</van-tabbar-item
          >
        </van-tabbar>
      </div>
    </div>
  </body>
  <script>
    new Vue({
      el: "#myCharge",
      data: {
        active: "usercenter",
        list: [],
        loading: false,
        finished: false,
      },
      methods: {
        onClickLeft() {},
        tabChange(name, title) {
          console.log(name, title);
        },
        onLoad() {
          // 模拟异步加载数据
          setTimeout(() => {
            for (let i = 0; i < 10; i++) {
              this.list.push(this.list.length + 1);
            }
            // 加载状态结束
            this.loading = false;
            // 数据全部加载完成
            if (this.list.length >= 40) {
              this.finished = true;
            }
          }, 1000);
        },
      },
    });
  </script>
</html>
