@charset "utf-8";

$theme-color: #3d4ce2 !default;
$theme-light-color: #1878ff !default;

$theme-blue-color: #12d6d6 !default;
$theme-purple-color: #ff696a !default;
$theme-reverse-color: #d1a271 !default;
$border-color: #e9ebec !default;

$text-color: #333 !default;
$text-light-color: #7d7d7d !default;

$bg-gray-color: #eceff8 !default;

$white-bg: #fff !default;
$font-size-small: 12px !default;
$font-size-normal: 13px !default;
$font-size-middle: 14px !default;
$font-size-large: 16px !default;

$gap-small: 5px !default;
$gap-normal: 10px !default;
$gap-middle: 15px !default;
$gap-large: 20px !default;
